$body-bg: #f2f2f2;

$primary: #082a3b;
$secondary: #ed6b86;
$danger: #d61313;
$success: #27ae60;
$warning: #ff7f50;
$info: #f5f5f5;
$dark: rgb(66, 66, 66);

$blue: blue;
$indigo: indigo;
$purple: purple;
$pink: pink;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$teal: teal;
$cyan: cyan;
$white: white;
$gray: #4f4f4f;
$gray-dark: darkslategray;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray,
  "gray-dark": $gray-dark,
);

$color-ranges: (
  0: 0,
  10: 10,
  20: 20,
  30: 30,
  40: 40,
);
